root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 136

[*.yml]
indent_size = 2

[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
