build
!.idea
.idea/*
!/.idea/icon.svg
out
*.ipr
*.iws
*.iml
.gradle
.project
.classpath
chromedriver.log
.settings
integration/ScreenshotTest/canTakeScreenshotOfElement/
classes

# Ignore all binary files
modules/*/bin
statics/bin