build
hs_err_pid*
!.idea
.idea/*
!/.idea/icon.svg
out
*.ipr
*.iws
*.iml
.gradle
.project
.classpath
chromedriver.log
.settings
classes

# Ignore AI stuff
/.mcp.json
/.claude/settings.local.json

# Ignore all binary files
modules/*/bin
statics/bin
