<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <property name="charset" value="UTF-8"/>

  <module name="SuppressionFilter">
    <property name="file" value="config/checkstyle/suppressions.xml"/>
  </module>

  <module name="TreeWalker">
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
    </module>

    <module name="IllegalImport">
      <property name="illegalPkgs" value="junit, org.hamcrest"/>
    </module>

    <module name="RedundantImport"/>
    <module name="AvoidStarImport"/>

    <module name="UnusedImports">
      <property name="processJavadoc" value="true"/>
    </module>

    <module name="LineLength">
      <property name="max" value="136"/>
    </module>

    <module name="ParenPad"/>
    <module name="MethodParamPad"/>
    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>

    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>

    <module name="LeftCurly"/>

    <module name="SuperClone"/>
    <module name="SuperFinalize"/>
    <module name="DefaultComesLast"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="UnnecessaryParentheses"/>

    <module name="ClassFanOutComplexity">
      <property name="max" value="29"/>
    </module>

    <module name="CyclomaticComplexity">
      <property name="max" value="11"/>
    </module>

    <module name="NPathComplexity"/>
    <module name="ArrayTypeStyle"/>

    <module name="Indentation">
      <property name="basicOffset" value="2"/>
      <property name="caseIndent" value="2"/>
      <property name="throwsIndent" value="2"/>
      <property name="arrayInitIndent" value="2"/>
      <property name="lineWrappingIndentation" value="2"/>
    </module>
  </module>

  <module name="NewlineAtEndOfFile">
    <property name="lineSeparator" value="lf"/>
  </module>

  <module name="FileTabCharacter"/>
</module>
