@import url(http://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Parisienne);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Courgette);

* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
}

p, ul, ol, table, pre, dl {

}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color: #46A3D1;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color: #46A3D1;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width: 976px;
  margin:0 auto;
}

.wrapper-content {
  width: 776px;
  padding-top: 1px;
  padding-bottom: 30px;
  margin:0 auto;
  font-size: 16px;
}

.wrapper-content h3 {
  line-height: 30px;
}

.wrapper-content h2 {
  line-height: 50px;
}

.wrapper-content pre {
  margin-bottom: 10px;
  margin-top: 10px;
}

.wrapper-color-content {
  width: 976px;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.content-details {

}

.head {
  background-color: #fff;
  width: 100%;
  height: 230px;
}

.foot {
  background-color: #303030;
  width: 100%;
  height: 160px;
}

.quicklinks {
  width: 100%;
  color: #cccccc;
  text-align: center;
}

.short {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.short a {
  text-decoration: underline;
  color: #fff;
}

.short h3 {
  color: #fff;
  font-size: 96px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.short h4 {
  font-family: 'Courgette', cursive;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 28px;
  letter-spacing: -1px;
}

.short h4 .bold {
  font-family: 'Courgette', cursive;
  font-weight: 900;
  letter-spacing: -1px;

}

.short h4 a {
  text-decoration: underline;
  color: #fff;
}


.short.docs {
  background-color:  #E5B755;
  padding-top: 25px;
  padding-bottom: 35px;
}

.short.wiki, .short.quotes {
  background-color: #B74EB5;
  padding-top: 25px;
  padding-bottom: 35px;
}

.short.testimonials {
  background-color: #92AC69;
  padding-top: 25px;
  padding-bottom: 35px;
}

.short.feedback {
  background-color: #FF7A4D;
  padding-top: 25px;
  padding-bottom: 35px;
}

.short.howto {
  background-color: #55B7E7;
  padding-top: 25px;
  padding-bottom: 35px;
}

.short.thanks {
  background-color: #e7e7e7;
  padding-top: 25px;
  padding-bottom: 35px;
  color: #666;
}

.short.thanks a {
  color: #666;
}


blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:14px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

ul.main-menu-pages {
    list-style: none;
    padding: 0 0 0 0;
    float: right;
    margin-top: 84px;
}

ul.main-menu-pages li{
   display: inline;
}

ul.main-menu-pages li a {
  color: #444;
  font-size: 18px;
  margin-left: 15px;
}

ul.main-menu-pages li a:hover {
  color: #46A3D1;
}

.right {
    float: right;
}

.text-right {
  text-align: right;
}

a.black:link {
  color: rgb(34, 34, 34);
  font-weight: bold;
}
a.black:visited {
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.small {
    font-size: small;
}


.service-links {
  width:100%;
}

ul.gray-boxes {
  list-style:none;
  padding:0;

}

ul.gray-boxes li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

ul.gray-boxes a h3 {
  font-family: 'Parisienne', cursive;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

ul.gray-boxes a:hover h3 {
  color: #4c4c4c;
}

ul.gray-boxes a h4 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

ul.gray-boxes a:hover h4 {
  color: #4c4c4c;
}

ul.gray-boxes a {
  line-height:1;
  border: 3px solid #4c4c4c;
  font-size:14px;
  color:#999;
  display: inline-block;
  background: #4c4c4c;
  text-align:center;
  padding-top:6px;
  border-radius: 84px 84px 84px 84px;
  padding: 7px;
  top: 20px;
  width: 84px;
  height: 84px;
  text-align: center;
  line-height: 98px;
}

ul.gray-boxes a:hover {
  border: 3px solid #4c4c4c;
  background: #fff;
  color: #4c4c4c;;
}

.ql {
  line-height: 12px!important;
  display: inline-block;
}

header .archive h2, header .archive h3 {
  display: none;
}

strong {
  color:#222;
  font-weight:700;   }
header img {
  padding-bottom: 40px;
  }

header ul.gray-boxes li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul.gray-boxes li + li + li {
  border-right:none;
  width:89px;
}

header ul.gray-boxes a strong {
  font-size:14px;
  display:block;
  color:#222;
}


small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
   text-align: center;
   color: #999;
   font-style: italic;
   font-size: 14px;
}

footer div {
  margin-left: 30px;
  padding-bottom: 15px;
  padding-top: 20px;
}


@media print, screen and (min-width: 1260px) {
  .wrapper {
    width: 1180px;
    margin:0 auto;
  }
  .wrapper-color-content {
    width: 1180px;
  }
  ul.main-menu-pages li {
    display: inline;
  }
  ul.main-menu-pages li a {
    margin-left: 30px;
  }
  ul.main-menu-pages li a {
    font-size: 20px;
  }
}

@media print, screen and (max-width: 980px) {

  div.wrapper {
    width: 976px;
    margin:0 auto;
  }

  a small {
    display:inline;
  }

  ul.gray-boxes {
    position:absolute;
    right:50px;

  }

}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  ul.gray-boxes, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

   ul.gray-boxes {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#languages {
  position: relative;
  float: right;
  top: 15px;
}

#languages a {
  margin-left: 10px;
  color: #444;
}

#languages a:hover {
color: #46A3D1;
}


.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}